/*extensions button, you can remove that - it isn't firefox logo by default*/
#unified-extensions-button { list-style-image: url('firefox.png') !important; } 

/*about:firefoxview button icon (the one on the left of the taskbar)*/
#firefox-view-button { list-style-image: url('firefox.png') !important; } /* */

/*new tab (and firefox built in) taskbar icon (aka. favicon)*/
.tab-icon-image[src="chrome://branding/content/icon32.png"] {content: url("firefox.png") !important;}



/*the padlock icon left of the url
if i got this right (tested) it will show up custom one when on a https site
and show the padlock when it's unsecured (or the tooltip doesn't start by "Verified by")
remove this "\" if you want to uncomment it --> *\/
#identity-icon[tooltiptext^="Verified by"] { list-style-image: url('firefox.png') !important;}
#identity-icon[tooltiptext=""]{list-style-image: url("firefox.png") !important;}
/*i'm disabling this for the padlock is an important security indicator*/






/*
made by one dude who last touched CSS like two years ago for some ass competition that he failed miserably
for updates go there (tbh i wonder if there will be any): 
https://github.com/42MajorSpellingMistakes/firefox-custom-icons
*/