/*working*/
#unified-extensions-button { list-style-image: url('firefox.png') !important; } 
#firefox-view-button { list-style-image: url('firefox.png') !important; } 
#identity-icon { list-style-image: url('firefox.png') !important; } 
.brand-logo .brand-icon{
  background: url("firefox.png") no-repeat center !important;}

.tab-icon-image[src="chrome://branding/content/icon32.png"] {
    content: url("firefox.png") !important;}
    
