/*working*/

/*extensions button, you can remove that - it isn't firefox logo by default*/
#unified-extensions-button { list-style-image: url('firefox.png') !important; } 

/*about:firefoxview button icon (the one on the left of the taskbar)*/
#firefox-view-button { list-style-image: url('firefox.png') !important; } /* */

/*
the lockbar icon left of the url, yeah disabling this
for anyone wondering what this does: 
it informs you about if a site is secure or not
YOU WANT to see the lock icon
#identity-icon { list-style-image: url('firefox.png') !important; }
*/

/*new tab (and firefox built in) taskbar icon (aka. favicon)*/
.tab-icon-image[src="chrome://branding/content/icon32.png"] {content: url("firefox.png") !important;}


/*to be done i presume.
from about:preferences#general - some small icons in the application section
.actionIcon{
  background: url("firefox.png")} !important;/**/
